body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(236, 236, 236);
}

#chart {
    width: 800px;
    height: 700px;
    margin: auto;
    position: relative;
}

h1, h2 {
    text-align: center;
}

#tooltip {
    position: absolute;
    width: 300px;
    display: none;
    background: rgba(255, 255, 255, .9);
    border: 1px solid black;
    padding: .5em;
    z-index: 3;
}

.legend {
    font-size: .9rem;
}
